*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.img1{
    
    margin-right: auto;
    margin-left: 15px;
    width: 60px;
    height: auto;
    border-radius: 5px;

}
.container{
    z-index: 1;
    position: sticky;
    top: 0;
    height: 72px;
    color: white;
    background-color: rgb(0, 0, 0);
     display: flex;
     justify-content: flex-end;
     align-items: center;
     border-bottom: 1px solid white;
}


li{
     display: inline-block;
     color: white;
}
ul li a {
    text-decoration: none;
    padding: 5px;
     color: white;
     font-size: large;
}
.home:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 7px;
    transition-duration: 1s;
}
.login:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 7px;
    transition-duration: 1s;
}
.contactus:hover{
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 7px;
    transition-duration: 1s;
}

.input{
    margin: 2px;
}
h1{
    cursor: pointer;
    margin-left: 156px;
     margin-right: auto;
}

.button{
    margin-right: 5px;
}
.menu{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
     font-size: 25px;
     display: inline-block;
     margin-right: 283px;
}
.beer{
    display: inline-block;
    margin-left: auto;
}
.foodlist{
    display: flex;
    justify-content:center ;
    text-align: cen;
    align-items: center;
     background-color: black;
     height: 450px;
     color: white;
}
.table{
    width: 1085px;
    font-size: 35px;
     border: 2px solid black;
     border-collapse: collapse;
}
 td{
    border: 2px solid black;
    border-collapse: collapse;

     
}
th{
     border: 2px solid black;
     border-collapse: collapse;

}
.foodlist2{
    /* display: flex; */
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:black;
    color: white;
    height: 200px;
}
.items{
     height: 500px;
     background-color: black;
     color: white;
}
.last{
    height: 250px;
     background-color: black;
     color: white;
     justify-content: center;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
}
.button{
     background-color: black;
     color: white;
     justify-content: center;
     text-align:center;
     align-items: center;
}
.placeorder:hover{
     background-color: black;
     color: white;
     transition-duration: 0.4s;
     cursor: pointer;
     border-radius: 5px;
}